$headerBackground:#24292E;
$containBackground:#f6f6f6;
$contain2Background:#fafbfc;

$blueEmplasisFont:#3066D6;

$normalFontColor:#24292E;
$normal2FontColor:#586069;
$selectOrangeBorderColor:#f9826C;


$tableHeader:#F1F8FF;

$white:#FFFFFF;
$whiteHover:#FFFFFFB3;

$normalBoxShadow: 0 0 10px rgba(0, 0, 0, 0.06);